// —————————————————————————
//     Forms
// —————————————————————————

::-webkit-input-placeholder {
   color: gray;
}

:-moz-placeholder {
  color: gray;
}

::-moz-placeholder {
  color: gray;
}

:-ms-input-placeholder {
  color: gray;
}

select {
  &:focus {
    border: none;
    @extend input:focus;
  }
}

input {
  font-family: $ff-primary;

  &:focus {
    outline: none;
    @include bsd(1px, 2px, 3px, $color-secondary);
  }
}

.btn-primary {
  text-transform: uppercase;
  color: $color-secondary;
  background-color: $color-primary;
  border-radius: 3px;
  padding: 15px 20px;
  text-align: center;
  border: none;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  font-size: $fs-extra-small;
  @include apr(none);
}

.input-primary {
  height: 40px;
  padding: 5px 10px;
  margin: 0 auto 10px auto;
  outline: none;
  display: block;
  @include bdr(2px);

  &.small { width: 30%; }
  &.medium { width: 50%; }
  &.big { width: 100%; }
}



// iPad
@media (min-width: 768px) {}

// Desktop
@media (min-width: 992px) {}
