// —————————————————————————
//     Forms
// —————————————————————————

::-webkit-input-placeholder {
   color: gray;
}

:-moz-placeholder {
  color: gray;
}

::-moz-placeholder {
  color: gray;
}

:-ms-input-placeholder {
  color: gray;
}

select {
  &:focus {
    border: none;
    @extend input:focus;
  }
}

input {
  font-family: $ff-secondary;

  &:focus {
    outline: none;
    @include bsd(1px 2px 3px $color-secondary);
  }
}

.form-group {
  label {
    cursor: pointer;
    color: $color-secondary;
    text-transform: uppercase;
    font-size: $fs-small;
    font-family: $ff-secondary;
  }

  &.captcha {
    width: 120px;
    height: 40px;
    display: inline-block;
  }

  &.inline-block {
    display: inline-block;
    margin-left: 20px;
    width: 51%;
  }
}
.input-group-addon {
    background-color: #283A42;
    color: #9DDE38;
  }
.input-primary {
  border-radius: 3px;
  border: 1px solid $color-secondary;
}

.btn-primary {
  text-transform: uppercase;
  color: $color-primary;
  background-color: $color-secondary;
  border-radius: 3px;
  padding: 5px 20px;
  text-align: center;
  border: none;
  @include apr(none);
}





// iPad
@media (min-width: 768px) {
  .form-group {
    &.inline-block {
      width: 70%;
    }
  }
}

// Desktop
@media (min-width: 992px) {
  .form-group {
    &.inline-block {
      width: 86%;
    }
  }
}
