// —————————————————————————
//     General
// —————————————————————————

body { font-size: $fs-root; }

::-moz-selection {
  background: $color-primary;
  text-shadow: none;
  color: $color-other;
}

::selection {
  background: $color-primary;
  text-shadow: none;
  color: $color-other;
}


//
// Media queries
//

// iPads
@media (min-width: 768px) {}

// Desktops
@media (min-width: 992px) {}

// Large Desktops
@media (min-width: 1200px) {}
