// —————————————————————————
//     General
// —————————————————————————

body {
  font-size: $fs-root;
  background-color: transparent;

  &.js-offline {

    &::after {
      content: attr(data-status);
      width: 100%;
      height: 100%;
      padding-top: 10%;
      top: 0;
      left: 0;
      text-align: center;
      color: $bg-featured;
      font-size: $fs-small;
      line-height: $fs-small;
      font-family: $ff-primary;
      background-color: rgba(0,0,0,.8);
      position: absolute;
      overflow: hidden;
      z-index: 99;
    }
  }
}

::-moz-selection {
  background: $bg-featured;
  color: $link-primary;
  text-shadow: none;
}

::selection {
  background: $bg-featured;
  color: $link-primary;
  text-shadow: none;
}


//
// Structure
//

.header-primary {
  width: 100%;
  height: 385px;
  position: relative;
  padding-top: 20px;
  background-color: $bg-primary;
}

.main {
  width: 100%;
  min-height: 800px;
  display: block;
  background-color: $bg-clean;
}

.logo {
  font-family: $ff-project;
  font-size: ($fs-extra-large)+2;
  color: $bg-featured;
  text-align: center;
  height: 250px;
  line-height: 320px;
}

// footer
.footer-primary {
  position: relative;
  width: 100%;
  min-height: 245px;
  text-align: center;
  background-color: $bg-primary;

  p {
    color: $bg-featured;
    font-size: ($fs-extra-small)-.2;
    font-family: $ff-primary;
    display: inline-block;
    top: 90px;
    position: relative;
  }
}

.social-item {
  width: 280px;
  border: 1px solid $bg-featured;
  height: 45px;
  display: inline-block;
  margin: 70px 10px 0 0;
}

.social-link {
  line-height: 45px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: $border-primary;
  font-family: $ff-general;
  font-size: ($fs-extra-small)-.2;
  @include transition(all, .2s, 0s, ease-out);

  &:hover {
    background-color: $border-primary;
    color: $bg-primary;
  }
}

.back-top {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 20px;
  top: 120px;
  z-index: 10;
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  opacity: 0;
  @include rotate(-90deg);
  @include bdr(4px);

  background-color: $border-primary;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40px 40px;
  @include path('icon-arrow.svg');

  @include transition(opacity, .2s, 0s, linear);

  &.js-show { opacity: 1; }

  &:hover { opacity: .5; }
}
// ===

// nav
.nav-primary {
  height: 60px;
  width: 100%;
  margin-top: 75px;
  text-align: center;
  border-bottom: 1px solid $border-primary;
  background-color: $bg-featured;

  &.js-nav-active {
    position: fixed;
    top: -76px;
    z-index: 901;
  }
}

.nav-item {
  display: inline-block;

  &.js-nav-active {
    background-color: $link-primary;

    .nav-link { color: $bg-clean; }
  }
}

.nav-link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 60px;
  margin: 0 20px;
  font-family: $ff-primary;
  color: $link-secondary;
  font-size: ($fs-extra-small)-.2;
  @include transition(color, .2s, 0s, linear);

  &:hover { color: $link-primary; }
}
// ===

.fork-github {
  img {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
  }
}

%width-fixed { width: 80%; }

.section {
  margin: 70px auto 0 auto;
  text-align: center;
  padding-bottom: 20px;

  &.home { @extend %width-fixed; }
  &.about {@extend %width-fixed; }
}

.section-title {
  font-family: $ff-title;
  font-size: $fs-small;
  color: $title-primary;
  text-transform: none;
}

.section-description {
  line-height: $fs-small;
  font-size: ($fs-extra-small)-.2;
  color: $text-primary;
  font-family: $ff-general;
  width: 50%;
  margin: 20px auto;
}


.link {
  text-decoration: none;
  font-size: ($fs-extra-small)-.2;
  color: $link-primary;
  font-family: $ff-general;
}

// post
.post {
  background-color: $border-primary;
  margin-top: 30px;
  padding: 20px 0;

  &.new {
    background-color: $link-primary;

    h3 { color: $bg-clean; }
    p { color: $bg-clean; }
  }
}

.post-content {
  display: inline-block;
  vertical-align: middle;
  width: 46%;
  margin: 10px;
  text-align: left;

  h3 {
    font-family: $ff-general;
    text-transform: uppercase;
    font-size: $fs-extra-small;
    color: $text-primary;
  }

  p {
    font-family: $ff-primary;
    font-size: ($fs-extra-small)-.2;
    margin: 10px 0;
    line-height: $fs-small;
  }
}

.post-image {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  height: 202px;

  img { @include transition(transform, .2s, 0s, ease-out); }

  figcaption {
    width: 100%;
    padding: 20px 0;
    position: absolute;
    bottom: -60px;
    text-transform: uppercase;
    color: $bg-primary;
    background-color: $bg-featured;
    text-align: center;
    font-family: $ff-primary;
    font-size: ($fs-extra-small)-.2;
    @include transition(bottom, .2s, 0s, ease-out);
  }

  &:hover {
    figcaption { bottom: 0; }

    img {
      @include translate3d(0, -40px, 0);
      -webkit-filter: url(#svg-blur);
      -o-filter: url(#svg-blur);
      filter: url(#svg-blur);
    }
  }
}

#svg-filter { display: none; }
// ===

// Modal
.content-modal {
  display: none;

  p { width: 100%; }
}
// ===


//
// Social
//

.social {
  text-align: center;

  h2 {
    text-transform: uppercase;
    padding-bottom: 6px;
    border-bottom: 1px solid $border-primary;
    display: inline-block;
  }
}

.feeds {
  width: 100%;
  min-height: 280px;
  display: block;
  margin: 30px auto;

  &.instagram {
    border-top: 1px solid $border-primary;
    border-bottom: 1px solid $border-primary;
    background-color: $bg-featured;
    padding: 30px 0;
  }

  li {
    display: inline-block;
    position: relative;
  }
}

// instagram
.feeds-instagram-item {
  margin: 2px;
  border: 1px solid $bg-primary;
}

.feeds-instagram-link {
  text-decoration: none;

  &:hover {
    .feeds-instagram-like { height: 25%; }
  }
}

.feeds-instagram-image {
  overflow: hidden;
  width: 150px;
  height: 150px;
  position: relative;
}

.feeds-instagram-like {
  position: absolute;
  text-align: center;
  display: block;
  bottom: 0;
  width: 100%;
  height: 0%;
  line-height: 40px;
  color: $bg-primary;
  font-family: $ff-general;
  font-size: $fs-small;
  background-color: rgba(255, 255, 255, .7);
  @include transition(height, .2s, 0s, linear);

  &::before {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    top: 3px;
    left: 10px;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    @include path('heart.svg');
    @include bdr(100%);
  }
}
// ===

// twitter
.feeds-twitter-item {
  width: 240px;
  height: auto;
  position: relative;
  min-height: 130px;
  background-color: $border-primary;
  margin: 0 30px 100px 0;
  @include transition(background, .2s, 0s, ease-out);

  &::before {
    content: '';
    position: absolute;
    right: 80%;
    bottom: -15px;
    width: 0;
    height: 0;
    border-top: 14px solid transparent;
    border-right: 26px solid $border-primary;
    border-bottom: 13px solid transparent;
    @include rotate(10deg);
  }

  &:hover {
    background-color: $text-primary;

    &::before { border-right: 26px solid $text-primary; }

    .tweet a { color: $bg-featured; }

    p { color: $bg-featured; }
  }

  .user {
    position: absolute;
    bottom: -70px;
    left: 53px;

    img {
      width: 48px;
      height: 48px;
      display: inline-block;
      @include bdr(100%);
    }

    a {
      text-decoration: none;
      color: $link-primary;
    }

    span {
      display: none;

      &[data-scribe="element:screen_name"] {
        font-size: ($fs-extra-small)-.4;
        font-family: $ff-general;
        vertical-align: top;
        line-height: 50px;
        margin-left: 10px;
        display: inline-block;
      }
    }
  }

  p {
    font-size: ($fs-extra-small)-.4;
    line-height: $fs-small;
    font-family: $ff-general;
    color: $bg-primary;
    @include truncate();

    &.tweet {
      padding: 20px;

      a { color: $link-primary; }
    }
  }
}
// ===


//
// Contact
//

.contact {
  padding: 70px 0;
  border-top: 1px solid $border-primary;
  border-bottom: 1px solid $border-primary;
  background-color: $bg-featured;

  .content {
    @extend %width-fixed;
    margin: 0 auto;
  }
}

.contact-form { margin-top: 30px; }


//
// Media queries
//

// iPads
@media (min-width: 768px) {}

// Desktops
@media (min-width: 992px) {}

// Large Desktops
@media (min-width: 1200px) {}
