// —————————————————————————
//     Typography
// —————————————————————————

// Size
$fs-root:           62.5%;
$fs-extra-large:    5.0rem;
$fs-large:          3.2rem;
$fs-extra-medium:   2.5rem;
$fs-medium:         1.8rem;
$fs-small:          1.4rem;
$fs-extra-small:    1.2rem;

// Family
$ff-general:        'sourcesanspro-light';
$ff-primary:        'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
$ff-title:           Impact, Charcoal, sans-serif;
$ff-project:         'sverige_script_decorated_deRg';

// Style
$f-italic:          italic;
$f-normal:          normal;

// Weight
$fw-light:          300;
$fw-semi-bold:      600;

// Custom Font Face
@font-face {
    font-family: 'sourcesanspro-light';
    src: url('../../fonts/sourcesanspro-light-webfont.eot');
    src: url('../../fonts/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/sourcesanspro-light-webfont.woff') format('woff'),
         url('../../fonts/sourcesanspro-light-webfont.ttf') format('truetype'),
         url('../../fonts/sourcesanspro-light-webfont.svg#FuturaLTHeavy') format('svg');
}

@font-face {
    font-family: 'sverige_script_decorated_deRg';
    src: url('../../fonts/sverigescriptdecorated_demo-webfont.eot');
    src: url('../../fonts/sverigescriptdecorated_demo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/sverigescriptdecorated_demo-webfont.woff2') format('woff2'),
         url('../../fonts/sverigescriptdecorated_demo-webfont.woff') format('woff'),
         url('../../fonts/sverigescriptdecorated_demo-webfont.ttf') format('truetype'),
         url('../../fonts/sverigescriptdecorated_demo-webfont.svg#sverige_script_decorated_deRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
