@font-face {
  font-family: 'source-light';
  src: url("../../sourcesanspro-light-webfont.eot");
  src: url("../../sourcesanspro-light-webfont.eot") format("embedded-opentype"), url("../../sourcesanspro-light-webfont.svg#source-light") format("svg"), url("../../sourcesanspro-light-webfont.ttf") format("truetype"), url("../../sourcesanspro-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
