/* line 42, sprite/*.png */
.sprite-sprite, .sprite-arrow {
  background: url('../images/sprite-s4cdf2021ed.png') no-repeat;
}

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-arrow {
  background-position: 0 0;
  height: 28px;
  width: 15px;
}
